<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="productRoot" value="C:\\MAUI-Prolaserator\\Exported_CSV" />
    <!-- Path to Save Exported Csv-->
    <add key="ApplicationMSIX" value="C:\MAUI-Prolaserator\MauiApp5\bin\Debug\net6.0-windows10.0.19041.0\win10-x64\AppPackages\Prolaserator_1.0.0.1_Debug_Test\Prolaserator_1.0.0.1_x64_Debug.msix" />
    <!--Path to Application EXE here-->
  </appSettings>
</configuration>